# /
/build
/dist
/MANIFEST
/MANIFEST.in
/mo

# /docs/
/docs/_build/

# /po/
/po/missing
/po/.intltool-merge-cache
/po/notexist

# /share/applications/
/share/applications/*.desktop

# /share/mime/packages/
/share/mime/packages/*-mimetype.xml

# /share/virtaal/
/share/virtaal/virtaal-mimetype.xml
/share/virtaal/virtaal.desktop

# General
*.pyc

# gh-pages branch
_site
_layouts
