Friedel Wolff <friedel@translate.org.za> friedelwolff <friedel@translate.org.za>
Rafael Fontenelle <rafaelff@gnome.org> Rafael Fontenelle <rffontenelle@users.noreply.github.com>
Jerome Leclanche <jerome@leclan.ch> Jerome Leclanche <adys.wh@gmail.com>
Luiz Fernando Ranghetti <elchevive68@gmail.com> Luiz Fernando Ranghetti <elchevive@opensuse.org>
