[Desktop Entry]
Version=1.0
Type=Application
Name=VirTaal
GenericName=Localization Editor
Comment=A translation tool to help a human translator translate files into other languages
TryExec=virtaal
Exec=virtaal %f
#Icon=
MimeType=application/x-wordfasttm;application/x-gettext;
#Categories=
